/* groundstructure of the document */
body{
	color: black;
	background-color: #ADBBDA;
	display: grid;
	margin: 3em;
	margin-left: 20%;
	margin-right: 20%;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
}
header {
	font-size: 2em;
	text-align: center;
	margin-bottom: 1.5em;
	background-color: #eae4e1;
}
.subHeader{
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 2em;
	background-color: #eae4e1;
}
nav{
	display: flex;
	justify-content: center;
	background-color: #86d277;
}
.nav {
	list-style: none;
	display: flex;
	gap: 2rem;
	margin-bottom: 2em;
	padding: 0em;
	background-color: #eae4e1;
}
.center {
	text-align: center;
	justify-content: center;
}
/*content of the page*/
.p1Header {
	font-weight: bold;      
	text-align: center;
}
.p2Header {
	font-weight: bold;      
	text-align: center;
}
.pageEnd {
	margin: 1em;
	text-align: justify;
}
.intro {
	margin: 1em;
	text-align: justify;
}
.taskOne {
	margin: 1em;
	text-align: justify;
}
.taskTwo {
	margin: 1em;
	text-align: justify;
}
.taskThree {
	margin: 1em;
	text-align: justify;
}
.taskFive {
	margin: 1em;
	text-align: justify;
}
.taskSix {
	margin: 1em;
	text-align: justify;
}
.taskSeven {
	margin: 1em;
	text-align: justify;
}
.taskEight {
	margin: 1em;
	text-align: justify;
}
.taskNine {
	margin: 1em;
	text-align: justify;
}
.taskTen {
	margin: 1em;
	text-align: justify;
}
.taskEleven {
	margin: 1em;
	text-align: justify;
}
.taskTwelve {
	margin: 1em;
	text-align: justify;
}
.taskThirteen {
	margin: 1em;
	text-align: justify;
}
.taskFourteen {
	margin: 1em;
	text-align: justify;
}
.taskFifteen {
	margin: 1em;
	text-align: justify;
}
.videoContainer {
	display: flex;
	justify-content: center;
	gap: 20px;               /* space between the videos */
	flex-wrap: wrap;         
}
.imageContainer {
	display: flex;
	justify-content: center;
	gap: 50px;               
	flex-wrap: wrap;         
}
.buttonContainer {
	display: flex;
	justify-content: center;
	gap: 50px;
}
button {
	background-color: red;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1em;
}
#PSButton {
	background-color: white;
	margin-top: 1em;
}
/* table-GPU */
table {
    width: 100%;
    max-width: 900px;
    margin: auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    }
th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #333;
    color: #fff;
}
tr:hover {
    background-color: #f0f0f0;
}
td:first-child {
    font-weight: bold;
    width: 30%;
}
/* Component-Assembly */
label {
	display: block;
	margin-bottom: 1em;
	margin-top: 1em;
	font-weight: bold;
}
textarea {
    width: 100%;
    max-width: 500px;
    height: 100px;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
}
#textareaSeven {
	height: 50px;
}